.team {
  padding: 73rem 0 126rem;
  display: flex;
  justify-content: center;
  background-color: var(--color-black);

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.title {
  font-size: var(--font-size-large);
  font-weight: 700;
  line-height: 78rem;
}

.teamList {
  display: grid;
  gap: 20rem;
  grid-auto-flow: column;
}

.listElement {

}

.buttonContainer {
  width: 500rem;
  height: 64rem;
}
