.calculatePrice {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 70rem 0;
  background-color: var(--color-black);;
}

.content {
  display: grid;
  gap: 190rem;
  width: 85%;
  grid-auto-flow: column;
}

.text {
  width: 715rem;
}

.title {
  color: var(--color-white);
  font-weight: 700;
  font-size: var(--font-size-large);
  line-height: 78rem;
  margin-bottom: 35rem;
}

.subtitle {
  font-weight: 400;
  font-size: var(--font-size-small);;
  line-height: 24rem;
  color: var(--color-white);
  margin-bottom: 50rem;
  width: 500rem
}

.buttonContainer {
  width: 500rem;
  height: 64rem;
}

.imageContainer {
  width: 239rem;
  height: 348rem;
}
